[Unit]
Description=Wurmsum file integrity updater over %i
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/libexec/wurmsum/wurmsum-service %i

[Install]
WantedBy=default.target
